Repository GaleedGutierrez/Curso-de-React-js-2023: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix --ignore-path .gitignore, npm run stylelint:fix, npm run lint-html:fix --ignore-path .gitignore

.lintstagedrc:

{
	"*.(j|t)s": "npm run lint:fix --ignore-path .gitignore",
	"*{css,s(a|c)ss}": "npm run stylelint:fix",
	"*.html": "npm run lint-html:fix --ignore-path .gitignore"
}

ci: :green_heart: Fix lighthouse github action
  .github/workflows/lighthouse.yml
Due: none

feat: :wrench: Add node version file
  .nvmrc
Due: none

fix: :green_heart: Fix ci lighthouse
  .github/workflows/lighthouse.yml
Due: none

fix: :green_heart:
  .github/workflows/lighthouse.yml
Due: none

fix: :green_heart: Add dependency that CI needs it
  .github/workflows/lighthouse.yml
Due: none

fix: :green_heart: Change the lighthouse's file name for the CI
  lighthouserc.cjs
Due: none

fix: :green_heart: Now add report from lighthouse
  .github/workflows/lighthouse.yml
  lighthouserc.cjs
Due: none

fix: :green_heart: Add path to lighthouse reports
  lighthouserc.cjs
Due: none

fix: :green_heart: Add path in CI lighthouse file
  .github/workflows/lighthouse.yml
  lighthouserc.cjs
Due: none

chore: :wrench: Update lighthouse assert
  lighthouserc.cjs
Due: none

ci: :construction_worker: Add new way to lighthouse report
  .github/workflows/lighthouse.yml
Due: none

fix: :green_heart: Add env github actions and url for treosh/lighthouse-ci
  .github/workflows/lighthouse.yml
Due: none

fix: :green_heart: Add new port and up server for the proyect
  .github/workflows/lighthouse.yml
Due: none

feat: :construction_worker: Update CI config for lighthouse
  .github/workflows/lighthouse.yml
  lighthouserc.cjs
Due: none

ci: :construction_worker: Add new way to run lighthouse
  .github/workflows/lighthouse.yml
Due: none

ci: :technologist: Definitive lighthouse CI file
  .github/workflows/lighthouse.yml
Due: none

ci: :construction_worker: Update lighouserc
  lighthouserc.cjs
Due: none

ci: :green_heart:
  lighthouserc.cjs
Due: none

test: :white_check_mark: Add test and add fix little bugs
  .husky/pre-push
  e2e/app.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/components/todo-add-new-task/TodoAddNewTask.tsx
  src/components/todo-items-left/TodoItemsLeft.tsx
  src/components/ui/atoms/checkbox-icon/CheckboxIcon.tsx
  src/utils/addNewTask.ts
Due: none

ci: :green_heart: Fix command
  .github/workflows/playwright.yml
Due: none

ci: :green_heart: Fix CI add missing dependency
  .github/workflows/playwright.yml
Due: none

feat: :white_check_mark: Muchos cambios. XD
  .editorconfig
  .github/workflows/lighthouse.yml
  .github/workflows/lint.yml
  .lintstagedrc
  .markdownlint.json
  LICENSE
  README.md
  borrar.html
  index.html
  logos.md
  package-lock.json
  package.json
  public/todo-app-react.webp
  src/components/todo-box-status/TodoBoxStatus.module.css
  src/components/todo-box-status/TodoBoxStatus.tsx
  src/components/ui/atoms/checkbox-icon/CheckboxIcon.tsx
  src/styles/index.css
  src/styles/settings/_typography.css
  vite.config.ts
Due: npm run stylelint:fix, npm run lint-html:fix --ignore-path .gitignore

chore: :clown_face:
  src/assets/fonts/Josefin_Sans/demo.html
Due: npm run lint-html:fix --ignore-path .gitignore

test: :white_check_mark: Update test
  e2e/app.spec.ts
Due: none

chore: :clown_face:
  package.json
Due: none

build: :rocket: Deploy
  .husky/pre-commit
  .husky/pre-push
  apple-touch-icon.png
  assets/JosefinSans-Bold-BISt1-gG.woff2
  assets/JosefinSans-Bold-BJeMBHFB.eot
  assets/JosefinSans-Bold-BfZHpRkR.ttf
  assets/JosefinSans-Bold-zM5qM4KX.woff
  assets/JosefinSans-Regular-Bz7vV-7C.ttf
  assets/JosefinSans-Regular-C7L6PwXi.woff
  assets/JosefinSans-Regular-D1syo6e1.woff2
  assets/JosefinSans-Regular-DBz8fEWi.eot
  assets/bg-desktop-dark-DzAvO98h.jpg
  assets/bg-desktop-light-BIdKokTn.jpg
  assets/bg-mobile-dark-DBhZPurk.jpg
  assets/bg-mobile-light-eXTHhUPU.jpg
  assets/index-B6B3gdjR.js
  assets/index-Cs-sJ6oE.css
  favicon.ico
  favicon.svg
  favicon192.png
  favicon512.png
  index.html
  manifest.json
  robots.txt
  todo-app-react.webp
Due: npm run stylelint:fix, npm run lint-html:fix --ignore-path .gitignore

fix: :bug: Fix relative paths
  index.html
Due: npm run lint-html:fix --ignore-path .gitignore

fix: :bug: Fix relative paths
  assets/index-Cs-sJ6oE.css
Due: npm run stylelint:fix

style: :clown_face:
  assets/index-Cs-sJ6oE.css
Due: npm run stylelint:fix

fix: :bug: Fix paths
  assets/index-Cs-sJ6oE.css
Due: npm run stylelint:fix

feat: :mag: Add new OG URL
  index.html
Due: npm run lint-html:fix --ignore-path .gitignore

feat: :mag: Update meta description
  index.html
Due: npm run lint-html:fix --ignore-path .gitignore
